.blink {
  animation-name: blink;
  animation-duration: 1s;
  animation-timing-function: step-start;
  animation-iteration-count: infinite;

  -webkit-animation: blink 1s step-start 0s infinite;
  -moz-animation: blink 1s step-start 0s infinite;
}

@keyframes blink {
  0%   { opacity: 1; }
  50%  { opacity: 0; }
  100% { opacity: 1; }
}
@-webkit-keyframes blink {
  0%   { opacity: 1; }
  50%  { opacity: 0; }
  100% { opacity: 1; }
}
